@import '../../definitions/colors';

.carousel-article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &.locked {
    opacity: 0.382;
  }

  &:hover {
    cursor: pointer;
  }

  & > .title {
    font-weight: 300;
    color: $purple;
    margin-top: 8px;
  }


  & > .describe {
    margin-top: 16px;
    z-index: 10;
    //background: $white;
    padding-top: 16px;

    & > .author {
      line-height: 16px;
      margin-top: 8px;
    }

    & > .description {
      line-height: 20px;
      font-weight: 300;
      margin-top: 8px;
      padding-bottom:8px;
    }

  }

  & > .image {
    display:flex;
    min-height: 160px;
    max-height: 160px;

    & > img {
      border-radius: 8px;
      max-height: 160px;
      width: 100%;
      object-fit: cover;
      background: $white;
      box-shadow: 10px 10px 30px  $white-neumorphic-darker,
      -10px 10px 30px  $white-neumorphic-brighter;
    }
  }
}