@import "../../definitions/colors";

.asterisk {
  font-size:16px;
  font-weight: bolder;
  color: $validation-color;
}
.form-input {
  color: $white-alternative-text;

  & > .form-input-title {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: bolder;
  }

  .error {
    //&.title {
    color: $validation-color;
    //}
    &.error-data {
      margin-top:8px;
    }
  }

}