@import "../../definitions/colors";
@import "../../definitions/fonts";

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  font-weight: 800;
  border: none;
  min-width: 32px;
  color: $primary;
  font-size: calc(12px + 0.618vw/2);
  padding: 6px 12px;
  transition: 0.2s;

  @media screen and (max-width: 640px) {
    letter-spacing: 1px;
  }

  &:hover {
    cursor: pointer;
    color: $accent;
    border-bottom: 1px solid $accent;
  }
}