@import "../../definitions/colors";
@import "../../definitions/fonts";

.scroll-top {
  display:flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  cursor: pointer;
  z-index: 1000;

  & > .arrow {
      border: solid $purple;
      background-color: $honeydew;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
  }

  background: $white;
  box-shadow:  5px 5px 5px $white-neumorphic-darker,
  -5px -5px 5px $white-neumorphic-brighter;

  &:hover {
    border-radius: 100px;
    background: linear-gradient(145deg, #e1e1e1, $white-neumorphic-brighter);
    box-shadow: 5px 5px 5px $white-neumorphic-darker,
    -5px -5px 5px $white-neumorphic-brighter;
  }

  bottom: 64px;
  border-radius: 100px;

  width: 32px;
  height: 32px;
  left: 32px;
}