$prussian-blue: #1d3557; //white text
$blue: #4bd2f7;
$honeydew: #f1faee; // black text
$imperial-red: #e63946; // white text

$purple: #0008f2ff;
$gamboge: #0080e3ff;
$white: #fafafa;
$black: #0a0a0a;

$white-alternative-text: #3b4040;

$white-alternative: $honeydew;
$white-neumorphic-brighter: #ffffff;
$white-neumorphic-darker: #e5e5e5;
$white-alternative-neumorphic-darker:#cdd5ca;

$primary: $purple;
$primary-neumorphic-brighter: $white-neumorphic-brighter;
$primary-neumorphic-darker: $white-neumorphic-darker;

$accent-neumorphic-brighter: $white-neumorphic-brighter;
$accent-neumorphic-darker: $white-neumorphic-darker;
$accent: $gamboge;

$background: $primary;
$logo-color: $primary;
$logo-color-brighter: $gamboge;

$layout-background: #fafafa;
$validation-color: $imperial-red;

