$prussian-blue: #1d3557; //white text
$blue: #4bd2f7;
$honeydew: #f1faee; // black text
$imperial-red: #e63946; // white text
$purple: #5C0084;
$gamboge: #9a00de;
$white: #fafafa;
$black: #0a0a0a;

$white-alternative-text: #3b4040;

$white-alternative: $honeydew;
$white-neumorphic-brighter: #ffffff;
$white-neumorphic-darker: #d5d5d5;
$white-alternative-neumorphic-darker:#cdd5ca;

$primary: $purple;
$primary-neumorphic-brighter: $white-neumorphic-brighter;
$primary-neumorphic-darker: $white-neumorphic-darker;

$accent-neumorphic-brighter: $white-neumorphic-brighter;
$accent-neumorphic-darker: $white-neumorphic-darker;
$accent: $imperial-red;

$background: $primary;
$logo-color: $primary;
$logo-color-brighter: $gamboge;

$layout-background: $white-alternative;
$validation-color: $imperial-red;

