@import '../../styles';
@import "../../definitions/colors";

.drawer-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: $white-alternative;
  max-width: $mobile-width;

  & > h2:nth-last-child(2) {
    margin-top: 32px;
    margin-bottom: 8px;
  }

  & > h2 {
    background: -webkit-linear-gradient($logo-color, #9a00de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 32px;
  }
}

.drawer-container h2:not:first-child {
  margin-bottom: 32px;
}
