@import "../../definitions/colors";
@import "../../styles";

$max-dynamic-width: 1640px;

.hero {
  z-index: 300;
  @media screen and (min-width: $mobile-width) {
    padding: 64px;
  }

  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align:center;
  word-wrap:break-word;

  & > .title {
    color: $logo-color;
    font-weight: bolder;
    font-size:calc(32px + 3vw);

    @media screen and (min-width: $max-dynamic-width) {
      font-size: $font-size-h1;
    }
  }

  & > .subtitle {
    margin-top: 32px;
    font-size: calc(24px + 2vw);
    font-weight: 300;
    @media screen and (min-width: $max-dynamic-width) {
      font-size: $font-size-h2;
    }
  }
  & > .domain {
    margin-top:32px;
    font-size: calc(13px + 1vw);
    @media screen and (min-width: $max-dynamic-width) {
      font-size: $font-size-h3;
    }

    max-width:800px;

    font-weight: 1000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    min-height: 32px;

    & > li {
      padding: 12px;
    }
  }
}