@import "../definitions/colors";
@import "../definitions/fonts";
@import "../styles";


$blogBreak: 940px;
.blog-articles-page-template {
  & > .blog-articles-header {
    font-size: $font-size-h3;
    margin-top: 32px;
  }

  & > .blog-search-section {
    margin-left: 16px;
    margin-top: 32px;
    max-width: 400px;
  }

  & > .blog-list-section {
    margin-top: 48px;
  }

}

