@import "../definitions/colors";

.blog-carousel {
  z-index: 2;
  & > .title {
    background: -webkit-linear-gradient($logo-color, $gamboge);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding-bottom: 16px;
    margin-bottom: 16px;
    z-index: 2;

  }

  & > .carousel {
    padding-top:32px;
    padding-bottom:20px;

    background: $white;
    box-shadow:  20px 20px 60px #d5d5d5,
    -20px -20px 60px #ffffff;
  }
}