@import "../../definitions/fonts";
@import "../../definitions/colors";
@import "../../styles.scss";

h1.contentful, h2.contentful, h3.contentful, h4.contentful,
h5.contentful h6.contentful {
  padding-top: 16px;
  padding-bottom: 16px;
}

h1.contentful {
  font-size: $font-size-h1;
}
h2.contentful {
  font-size: $font-size-h2;
}
h3.contentful {
  font-size: $font-size-h3;
}
h4.contentful {
  font-size: $font-size-h4;
}
h5.contentful {
  font-size: $font-size-h4;
}
h6.contentful {
  font-size: $font-size-h4;
}

hr.contentful {
  margin-bottom: 16px;
  border: 1px solid #dae2e2;
}

.contentful {
  -webkit-text-size-adjust:none;
  outline: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  line-height: 30px;

  &.asset-container {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    & > .asset-image {
      padding:5px;
      box-shadow:  20px 20px 60px $white-neumorphic-darker,
      -20px -20px 60px $white-neumorphic-brighter;
      max-height: 640px;
      max-width: 100%;
      object-fit: contain;
    }
  }

  &.bold {
    font-weight: bold;
  }
  &.italic {
    font-style: italic;
  }

  &.underline {
    text-decoration: underline;
  }

  &.code {
    display: flex;
    align-items:center;
    padding: 20px;

    @media screen and (min-width: $mobile-width) {
      font-size: 14px !important;
    }
    font-size: 12px !important;
  }

  &.text {
    min-height: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

