@import 'definitions/colors';
@import 'definitions/fonts';
@import 'styles';

.header {
  display: flex;
  min-height: 64px;
  justify-content:center;
  z-index:1;
  // neumorphism
  background: $white;
  box-shadow:  20px 20px 60px $white-neumorphic-darker,
  -20px -20px 60px $white-neumorphic-brighter;
  //

  & > .header-contents {
    display: flex;
    width:100%;
    max-width: $site-width;

    & > .logo-section {
      display:flex;
      align-items:center;

      padding: 0 0 0 24px;
    }

    & > .menu {
      display: flex;
      justify-content: flex-end;
      max-width: 100%;
      flex-direction: row;
      flex: 1;

      @media screen and (max-width: $mobile-width) {
        padding: 0 8px 0 0;
      }
      padding: 0 24px 0 0;
    }
  }


}