@import "./definitions/colors";

.logo {
  // neomorphism
  background: -webkit-linear-gradient($logo-color, #9a00de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  //

  font-size: 36px;
  padding: 8px 0;

  color: $logo-color;
  font-weight: 800;
  cursor: pointer;

  & > .logoSeo {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
}


